{% extends 'base.html.twig' %}

{% block body %}
<div class="ajout">
    <div class="formulaire">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href=""><button>Ajouter</button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

